<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngFor="let item of news" lines="none">
      <ion-card>
        <img src={{item.image}} />
        <ion-card-header>
          <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>